 <!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>SOFTWARE DEFECT DETECTION </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/mains.css" />
	</head>
	<body>

		 

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			 
		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="../images/image.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>ABSTRACT</h2>
							 
						</header>
						<div class="content">
							<p>Software defect prediction plays an important role in improving software
quality and it help to reducing time and cost for software testing. Machine
learning focuses on the development of computer programs that can teach
themselves to grow and change when exposed to new data. The ability of a
machine to improve its performance based on previous results. Machine
learning improves efficiency of human learning, discover new things or
structure that is unknown to humans and find important information in a
document. For that purpose, different machine learning techniques are used to
remove the unnecessary, erroneous data from the dataset. Software defect
prediction is seen as a highly important ability when planning a software project
and much greater effort is needed to solve this complex problem using a
software metrics and defect dataset. Metrics are the relationship between the
numerical value and it applied on the software therefore it is used for predicting
defect. The primary goal of this survey paper is to understand the existing
techniques for predicting software defect .Results obtained states that the
proposed approach works more efficiently in terms of accuracy as compared to
other techniques like SVM, Naïve Bayes, and Decision Tree. The results
obtained by proposed method are having the values for performance time (min)
is 3.24 minutes, Accuracy rate (%) is 96.78 %, and the Error rate (%) is 0.21 %.</p>
						</div>
						 
					</article>
				</div>
				 
			</section>

		<!-- Two -->
		 
		 
		 

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/mains.js"></script>
<input type="button" onclick="window.location.href='{{url_for('upload')}}';" value="UPLOAD" />
</body>
	
</html>